
<section class="dashboard">

	<div>
		<h2 class="section-title">{{user.firstName}}'s Dashboard</h2>
		<button id="product-add" class="product-add">Add New Product</button>
	</div>

	<section class="product-list">

		<table class="dashboard-list">

		    <thead>
	            <th>Title</th>
	            <th>Description</th>
	            <th>Price</th>
	            <th title="Best Seller">Featured</th>
	            <th>Image</th>
	            <th>Category</th>
	            <th>Quantity</th>
	            <th colspan="2"></th>
		    </thead>

		    <tbody>
	        {{#each data}}
	            <tr>
	                <td>
	                    <a href="/product/{{this.id}}" class="product-title">{{this.title}}</a>
	                </td>
	                <td>
	                   <span>{{this.description}}</span>		                  
	                </td>
	                <td>
	                    <span>{{this.price}}</span>
	                </td>
	                <td>
	                    <span>
	                    	<form>
	                    		<input id="featured" class="featured" type="checkbox" id="switch" {{#ifeq this.featured "feature"}} checked {{/ifeq}}/>
	                    		<label for="featured" class="switch-featured" for="switch">Toggle</label>
	                    	</form>
	                    </span>
	                </td>
	                <td>
	                   <span class="thumb-img-"><img class="thumb-img" src="/uploads/products/{{this.imgPath}}" alt="{{this.title}} image"></span>
	                </td>
	                <td>
	                   <span>{{this.category}}</span>
	                </td>
	                <td>
	                   <span>{{this.quantity}}</span>
	                </td>
	                <td>
	                    <a href="/admin/edit/{{this.id}}" data-id="{{this.id}}" class="edit-ctrl"><span data-id="{{this.id}}" class="fa fa-pencil" title="edit"></span></a>
	                </td>
	                <td>
	                    <button data-id="{{this.id}}" class="trash-ctrl"><span data-id="{{this.id}}" class="fa fa-trash" title="delete"></span></button>
	                </td> 
	            </tr>

	        	{{else}}
	            <td colspan="5">
	                <p>No products in the database yet</p>
	            </td>
	        {{/each}}
		    </tbody>
		</table>
	</section>

	<section id="product-upload" class="product-upload {{#if product_title}}open{{/if}}">

		<button type="button" id="close-product-form" class="close-product-form">
		   <img src="/img/cross.png" alt="close product form"/>
		</button>

		<form id="form-product" class="form-product" action="/admin/{{#if product_title}}edit-product/{{product_id}}?method=PUT{{else}}add-product{{/if}}" method="post" enctype="multipart/form-data" novalidate="novalidate">

			<div class="box-login-tab"></div>

			<legend>PRODUCT DOCUMENT</legend>
		    <div class="form-input">
		        <input type="text" class="form-control" id="product-title" name="product-title" value="{{#if product_title}}{{product_title}}{{/if}}" placeholder="Product Title" maxlength="50">
		    </div>
		    <div class="form-input">
		        <input type="text" class="form-control" id="product-description" name="product-description" value="{{#if product_description}}{{product_description}}{{/if}}" placeholder="Product Description" maxlength="155">
		    </div>
		    <div class="form-input">
		        <input type="number" class="form-control" id="product-cost" name="product-cost" value="{{#if product_price}}{{product_price}}{{/if}}" placeholder="Product Cost ($CAD)" step="5">
		    </div>
		    <div class="form-input register-switch">
                <input type="radio" name="featured" id="feature" value="feature" class="register-switch-input" 
                {{#if product_featured}}
                	{{#ifeq product_featured "feature"}}
                		checked
                	{{/ifeq}}
                	{{else}}
                		checked    {{!this 'checked' is here stands as the default if the form is for add-product, not edit-product}}
                {{/if}}>
                <label for="feature" class="register-switch-label">Feature <span class="fa fa-check"></span></label>

                <input type="radio" name="featured" id="no-feature" value="no-feature" class="register-switch-input" 
                {{#if product_featured}}
                	{{#ifeq product_featured "no-feature"}}
                		checked
                	{{/ifeq}}
                	{{else}}
                {{/if}}>
                <label for="no-feature" class="register-switch-label">Do not Feature <span class="fa fa-window-close"></span></label>
            </div>
            <div class="form-input product-category">
            	<label for="product-category">Category: </span></label>
            	<select class="form-input product-category" id="product-category" name="product-category">
        		{{#each categories}}
        	    	<option class="product-category" value="{{this.title}}">{{this.title}}</option>
        	    {{/each}}
            	</select>
            </div>
            <div class="form-input">
                <input type="number" class="form-control" id="product-qty" name="product-qty" placeholder="Product Quantity" step="1" value="{{#if product_quantity}}{{product_quantity}}{{/if}}">
            </div>
		    <div class="form-input file"> 
		        <input type="file" class="form-control" id="product-pic" name="product-pic">
		        <label for="product-pic"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Choose a file…</span></label>
		    </div>

		    <div class="form-input-final">
		        <button class="login-btn cta-btn" type="submit" value="submit" class="submit">
		            {{#if product_title}}EDIT{{else}}ADD{{/if}} PRODUCT
		        </button>
		    </div>

		</form> 

	</section>

	<section id="confirm-delete" class="confirm-delete">

		<button type="button" id="close-confirm-delete" class="close-product-form">
		   <img src="/img/cross.png" alt="close product form"/>
		</button>

		{{!-- For every delete clicked, the data-id holding the 'id' of the record
		will be dynamically inserted into this form's action to manipulate the particular 
		record --}}
		<form id="deleteRec" class="deleteRec" action="/admin/del/{{_id}}?method=DELETE">
			<h4>Are you sure you want to delete this record?</h4>
			<figure class="trash">
				<img src="/img/trash.gif" src="trash">
			</figure>
			<div class="button-set">
				<button type="button" id="deleteCancel" class="deleteCancel">GO BACK</button>
				<button type="submit" id="deleteOK" class="deleteOK">DELETE</button>
			</div>
		</form>

	</section>

</section>