<!DOCTYPE html>
<html lang="en" class="{{errorClass.active}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humber-Zon | ({{title}})</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="Humber-Zon.ca, Online Shopping, Electronics, Health, Beauty, Watches, Home & Garden, Tools, Video Games, Baby, Kindle, Books, Music, Movies, DVDs, Materials, Speedy Delivery">
    <meta name="description" content="Shopping with Humber-Zon is complete fun. Why not join the 5 million others that have taken advantage of such rich experience">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Humber-Zon">
    <meta name="classification" content="internet">
    <meta name="distribution" content="global"> 

    <link rel="stylesheet" href="/css/style.css">
    {{#ifeq bodyClass "admin-dashboard-page"}}
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/css/dashboard-responsiveness.css">
    {{/ifeq}}
    {{#ifeq bodyClass "shopping-cart-page"}}
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="/css/dashboard-responsiveness.css">
    {{/ifeq}}
    {{#ifeq bodyClass "product-details-page"}}
        <link rel="stylesheet" type="text/css" href="/css/product-details.css">
    {{/ifeq}}
    {{#ifeq bodyClass "product-listing-page"}}
        <link rel="stylesheet" type="text/css" href="/css/product-listing.css">
    {{/ifeq}}
    {{#ifeq bodyClass "user-dashboard-page"}}
        <link rel="stylesheet" type="text/css" href="/css/user-dashboard.css">
        <link rel="stylesheet" type="text/css" href="/css/dashboard-responsiveness.css">
    {{/ifeq}}
    <link rel="stylesheet" href="/css/responsive.css">

    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Titillium+Web&display=swap" rel="stylesheet">

    {{!-- Favicon --}}
    <link href="/img/humber-zon.ico?v=1.1" rel="icon" type="image/x-icon">

    <script defer src="https://use.fontawesome.com/f91f1a6630.js"></script>
    <script defer type="text/javascript" src="/js/script.js"></script>
</head>
<body class="{{bodyClass}}">    {{!-- Class on body responsible for determining current page in script.js to 
                                avoid throwing errors --}}
    
    <div class="page">

        <header class="page-header">
            <!-- Header Start -->
            <div class="header-area">

                <!-- Logo -->
                <div class="logo">
                    <a href="/"><img src="/img/humber-zon-sm.png" alt=""></a>
                </div>

                <!-- Main-menu -->
                <nav class="main-menu">

                    <ul id="navigation" class="main-menu-nav">  

                        <li><a href="/user/productListing">Shop</a></li>
                        <li class=""><a href="/">Latest</a>
                            <ul class="submenu">
                                <li><a href="/">Product list</a></li>
                                <li><a href="/"> Product Details</a></li>
                            </ul>
                        </li>                       

                        <li class="categories-first"><a href="/">Computers</a></li>
                        <li class="categories"><a href="/">Electronics</a></li>
                        <li class="categories-last"><a href="/">Books</a></li>

                        {{!-- <li><a href="/">Your Store</a></li> --}}

                        <li><a href="/">Sell</a></li>
                        <li><a href="/">Make Purchase</a></li>
                        {{!-- <li><a href="/">Registry</a></li> --}}

                        <li><a href="#">Pages</a>
                            <ul class="submenu">
                                <li><a href="/">Login</a></li>
                                <li><a href="/">Cart</a></li>
                                <li><a href="/">Element</a></li>
                                <li><a href="/">Confirmation</a></li>
                                <li><a href="/">Product Checkout</a></li>
                            </ul>
                        </li>
                        <li><a href="/">Contact</a></li>
                    </ul>

                    <ul class="user-related-links">
                        <li class="nav-search">
                            <span class="fa fa-search"></span>
                        </li>
                        <li>
                            {{#if user}}
                                <a id="profile" class="profile" href="/user/profile">Dashboard</span></a>
                            {{/if}}
                        </li>
                        <li> 
                            {{#if user}}
                                <a id="logout-btn" class="logout-btn" href="/logout">Logout</a>
                                {{else}}
                                <a id="login-create-account" href="/login"><span class="fa fa-user"></span></a>
                            {{/if}}
                        <li><a href="/user/shopping-cart"><span class="fa fa-shopping-cart"></span></a></li>

                        <li><button type="button" id="toggle-btn-nav" class="toggle-btn-nav"><span class="fa fa-bars"></span></button></li>

                    </ul>

                </nav>

            </div>

        </header>

        <main>

            <section id="user-acct" class="user-acct">

                <span id="login-close" class="fa fa-close login-close"></span>

                <div class="page-form">

                    <section class="create-account">
                        <div class="create-account-inner">
                            <h2>New to Humber-Zon?</h2>
                            <p>We are the kings of merchandise. We sell an array of quality products, and we also buy as well. Registering with us means so much to us and is a necessary step for trust and commitment. </p>
                            <a id="create-account-btn" href="#" class="cta-btn">Create an Account</a>
                        </div>
                    </section>
                            
                    <section class="login">
                        <div class="login-form-inner">
                            <h2>Welcome Back ! <br> Please Sign in now</h2>

                            <form id="user-details-login" class="user-details" action="/user/login" method="post" novalidate="novalidate">
                                <div class="form-input">
                                    <input type="email" class="form-control" id="login-mail" name="login-mail" 
                                    {{#if loginVals.loginMail}}
                                        value="{{loginVals.loginMail}}"
                                    {{/if}}
                                        placeholder="Email Address">
                                </div>
                                {{#if errors.loginMail}}
                                    <span class="error">Email should not be empty <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                                <div class="form-input">
                                    <input type="password" class="password" id="password" name="password"  
                                        {{#if loginVals.password}}
                                            value="{{loginVals.password}}"
                                        {{/if}}
                                        placeholder="Password">
                                    {{#if errors.password}}
                                        <span class="error">Password should not be empty <span class="fa fa-exclamation-triangle"></span></span>
                                    {{/if}}
                                </div>
                                {{#if errors.matchFail}}
                                    <span class="error">Credentials error <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                                <div class="form-input-final">
                                    <div class="login-action">
                                        <input type="checkbox" id="remember-me" name="remember-me">
                                        <label for="remember-me">Remember me</label>
                                    </div>
                                    <button class="login-btn cta-btn" type="submit" value="submit" class="submit">
                                        log in
                                    </button>
                                    <a id="signup" class="signup" href="#">Sign Up Instead?</a>
                                    <a class="lost-password" href="#">Forgot Password?</a>
                                </div>

                            </form>                            
                        </div>
                    </section>
                    
                </div>

            </section>

            <section id="create-account-modal" class="create-account-modal {{errorClass.slide}}">

                <span id="account-close" class="fa fa-close account-close"></span>

                <section class="">

                    <div class="account-form-inner">
                        <h2>Create Your Account with Us</h2>

                        <form id="user-details-create" class="user-details" action="/user/create-acct" method="post" enctype="multipart/form-data" novalidate="novalidate">

                            <div class="form-input">
                                <input type="text" class="form-control" id="first-name" name="first-name" 
                                {{#if loginVals.firstName}}
                                    value="{{loginVals.firstName}}"
                                {{/if}}
                                    placeholder="First Name">
                                {{#if errors.firstName}}
                                    <span class="error">First Name {{errors.firstName}} <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                            </div>
                            <div class="form-input">
                                <input type="text" class="form-control" id="last-name" name="last-name" 
                                {{#if loginVals.lastName}}
                                    value="{{loginVals.lastName}}"
                                {{/if}}
                                    placeholder="Last Name">
                                {{#if errors.lastName}}
                                    <span class="error">Last Name {{errors.lastName}} <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                            </div>
                            <div class="form-input">
                                <input type="email" class="form-control" id="email" name="email" 
                                {{#if loginVals.email}}
                                    value="{{loginVals.email}}"
                                {{/if}}
                                    placeholder="Email Address">
                                {{#if errors.email}}
                                    <span class="error">Email {{errors.email}} <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                                {{#if errors.mailRegex}}
                                    <span class="error">{{errors.mailRegex}} <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                            </div>
                            <div class="form-input">
                                <input type="password" class="account-password" id="account-password" name="account-password"
                                {{#if loginVals.accountPassword}}
                                    value="{{loginVals.accountPassword}}"
                                {{/if}}
                                    placeholder="Password (between 6 & 12 upper- and lower-case characters, and nos)">
                                {{#if errors.accountPassword}}
                                    <span class="error">Password should not be empty <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                                {{#if errors.passwordLength}}
                                    <span class="error">{{errors.passwordLength}} <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                                {{#if errors.accountPasswordMix}}
                                    <span class="error">{{errors.accountPasswordMix}} <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                                {{#if errors.passwordExists}}
                                    <span class="error">Email is taken. Try another please <span class="fa fa-exclamation-triangle"></span></span>
                                {{/if}}
                            </div>
                            <div class="form-input">
                                <input type="file" class="form-control" id="profile-pic" name="profile-pic">
                                <label for="profile-pic"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg> <span>Choose a file…</span></label>
                            </div>
                            <div class="form-input-final">
                                <button class="login-btn cta-btn" type="submit" value="submit" class="submit">
                                    Create Account
                                </button>
                            </div>

                            <a id="backToLogin" class="backToLogin" href="#">Back to Login</a>

                        </form>                            
                    </div>
                </section>

            </section>

            <section class="main-wrapper">
                {{{body}}}
            </section>

        </main>

        <footer id="page-footer" class="page-footer" role="contentinfo">

            <div class="primary-footer-group">

                <section class="primary-footer">
                    <h4 class="footer-header">Humber-Zon Cares</h4>
                    <ul class="footer-links">
                        <li><a href="/">Careers</a></li>                
                        <li><a href="/">Press Releases</a></li>
                        <li><a href="/">Investor Relations</a></li>
                    </ul>
                </section>
                                          
                <section class="primary-footer">
                    <h4 class="footer-header">Make Money with Us</h4>
                    <ul class="footer-links">
                        <li><a href="/">Sell on Humber-Zon</a></li>                
                        <li><a href="/">Press Releases</a></li>
                        <li><a href="/">Make Advertisements</a></li>
                        <li><a href="/">Independently Publish with Us</a></li>
                        <li><a href="/">Make Advertisements</a></li>
                    </ul>
                </section>
                              
                <section class="primary-footer">
                    <h4 class="footer-header">Humber-Zon Payment Products</h4>
                    <ul class="footer-links">
                        <li><a href="/">Humber-Zon.ca MasterCard</a></li>                
                        <li><a href="/">Points Shopping</a></li>
                        <li><a href="/">Reload Your Balance</a></li>
                        <li><a href="/">Gift Cards</a></li>
                        <li><a href="/">Humber-Zon Cash</a></li>
                    </ul>
                </section>

                <section class="primary-footer">
                    <h4 class="footer-header">We Care</h4>
                    <ul class="footer-links">
                        <li><a href="/">COVID-19 and Humber-Zon</a></li>                
                        <li><a href="/">Shipping Rates &amp; Policies</a></li>
                        <li><a href="/">Returns Are Easy</a></li>
                        <li><a href="/">Gift Cards</a></li>
                        <li><a href="/">Customer Service</a></li>
                        <li><a href="/">Manage your Content &amp; Devices</a></li>
                    </ul>
                </section>

            </div>

            <section class="sec-footer">
                <section>
                    <ul>
                        <li><a href="/">Conditions of Use</a></li>
                        <li><a href="/">Privacy Of Use</a></li>
                        <li><a href="/">Interest-Based Ads</a></li>
                        <li><a href="/">&copy; 2008-2020, Humber-Zon Inc., or its affiliates</a></li>
                    </ul>
                </section>
                <section class="footer-social">
                    <ul>
                        <li><a href="/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="/"><i class="fa fa-behance"></i></a></li>
                        <li><a href="/"><i class="fa fa-globe"></i></a></li>
                    </ul>
                </section>
            </section>

            <div class="to-top">
                <a href="/">Back to Top</a>
            </div>

        </footer>

    </div>


</body>
</html>