	<section class="hero promo-section"  role="banner">

		<section class="carousel-container" id="carousel-container">
			<div id="slider" class="carousel">
			    <section class="slides">
			  		<div class="slide" data-state="active">
			  			<div class="slide-content dre-beatz">
			  				<figure class="slide-product-img">
			  					<img src="/img/girl-with-headphones.png">
			  				</figure>
			  				<div class="slide-watchword">
			  					<h2 class="slide-title-ad">Beats by <span>Chordratic</span></h2>
			  					<div><p>Headphones on the move</p>
			  					<img class="slide-product-logo" src="/img/dre-logo.png"></div>
			  					<a class="cta-btn" href="/productListing">Shop Now</a>
			  				</div>
			  			</div>
			  		</div>
			  		<div class="slide">
			  			<div class="slide-content nikon">
			  				<figure class="slide-product-img">
			  					<img src="/img/girl-with-nikkon.png">
			  				</figure>
			  				<div class="slide-watchword">
			  					<h2 class="slide-title-ad">See into the<span>Far Reaches</span></h2>
			  					<div><p>Your eyes are not enough</p>
			  					<img class="slide-product-logo" src="/img/nikon-logo.png"></div>
			  					<a class="cta-btn" href="/productListing">Shop Now</a>
			  				</div>
			  			</div>
			  		</div>
			  		<div class="slide">
			  			<div class="slide-content nike">
			  				<figure class="slide-product-img">
			  					<img src="/img/sportsman-with-headband.png">
			  				</figure>
			  				<div class="slide-watchword">
			  					<h2 class="slide-title-ad">A tick Speaks Louder<span>than Words</span></h2>
			  					<div><p>The sign of the swoosh!</p>
			  					<img class="slide-product-logo"src="/img/nike-logo.png"></div>
			  					<a class="cta-btn" href="/productListing">Shop Now</a>
			  				</div>
			  			</div>
			  		</div>
			    </section>
			    <section class="indicators">
				  	<input class="indicator" name="indicator" data-slide="1" data-state="active" checked type="radio" />
				  	<input class="indicator" name="indicator" data-slide="2" type="radio" />
				  	<input class="indicator" name="indicator" data-slide="3" type="radio" />
			  </section>
			</div>
		</section>

		<img class="promo-coupon" src="/img/coupon.png">

	</section>

	<section id="best-sellers" class="best-seller product-listing">

		<div class="page-product">

			<h2 class="section-title">Show of Our Products by Category</h2>

			<ul class="category product-list">
				{{#each dataCat}}
				<li>
					<a href="/" style="display: block;">
						<div class="product-listing-single">
						    <h4>{{this.title}}</h4>
						    <h5 class="category-title">({{this.category}})</h5>
							<h5>Price : $ CAD {{this.price}}</h5>
						    <figure>
						    	<img src="/img/{{this.imgPath}}">
						    	<figcaption>
						    		<p>{{this.description}}</p>
						    	</figcaption>
						    </figure>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>

		</div>

	</section>

	<section id="best-sellers" class="best-seller product-listing">

		<div class="page-product">

			<h2 class="section-title">A peek at Some of Our Best Sellers</h2>

			<ul class="product-list">
				{{#each data}}
				<li>
					<a href="/" style="display: block;">
						<div class="product-listing-single">
						    <h4>{{this.title}}</h4>
							<h5>Price : $ CAD {{this.price}}</h5>
						    <figure>
						    	<img src="/img/{{this.imgPath}}">
						    	<figcaption>
						    		<p>{{this.description}}</p>
						    	</figcaption>
						    </figure>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>

		</div>

	</section>

	<script type="text/javascript">

		let carousel = document.getElementById('slider');
		const indicators = carousel.querySelectorAll('.indicator');	// Fetch indicators
		let slides = '';
		let speed = 5000; 

		function hideCarousel(num, indicators) {
		    indicators[num].setAttribute('data-state', '');
		    slides[num].setAttribute('data-state', '');

		    slides[num].style.opacity=0;
		}

		function showCarousel(num) {

			// Show the slider in target
		    indicators[num].checked = true;
		    indicators[num].setAttribute('data-state', 'active');
		    slides[num].setAttribute('data-state', 'active');

		    slides[num].style.opacity=1;
		}

		function setSlide(slide, indicators) {
		    return function() {
		        // Reset all slides
		        for (var i = 0; i < indicators.length; i++) {
		            indicators[i].setAttribute('data-state', '');
		            slides[i].setAttribute('data-state', '');
		            
		            hideCarousel(i, indicators);
		        }

		        // Set defined slide as active
		        indicators[slide].setAttribute('data-state', 'active');
		        slides[slide].setAttribute('data-state', 'active');
		        showCarousel(slide);

		        // Stop the auto-switcher
		        clearInterval(switcher);
		    };
		}

		function switchSlide(indicators) {

		   let nextSlide = 0;
		    // alert(nextSlide);

		    // Loop across all slides
		    for (let i = 0; i < indicators.length; i++) {
		        // Only move if current slide is active & NOT equal to last slide then increment nextSlide
		        if ((indicators[i].getAttribute('data-state') == 'active') && (i !== (indicators.length-1))) {
		            nextSlide = i + 1;	// Get the index of 'active', then cache the subsequent element as this is the next-to-be active
		        }

		        // Remove all active states & hide
		        hideCarousel(i, indicators);
		    }
		    // alert(nextSlide);

		    // Otherwise, set next slide as active & show the next slide
		    showCarousel(nextSlide);
		}

		if (carousel) {	// If a carousel exists:

		    slides = carousel.querySelectorAll('.slide');	// Fetch slide in DOM

		    // In a timer, loop across the slides
		    let switcher = setInterval(function() {
		        switchSlide(indicators);
		    }, speed);

		    // On click of slide, run setSlide function
		    for (var i = 0; i < indicators.length; i++) {
		        indicators[i].addEventListener("click", setSlide(i, indicators));
		    }
		}


	</script>
