	<section id="user-acct" class="user-acct">

	    <span id="login-close" class="fa fa-close login-close"></span>

	    <div class="page-form">

	        <section class="create-account">
	            <div class="create-account-inner">
	                <h2>New to Humber-Zon?</h2>
	                <p>We are the kings of merchandise. We sell an array of quality products, and we also buy as well. Registering with us means so much to us and is a necessary step for trust and commitment. </p>
	                <a id="create-account-btn" href="#" class="cta-btn">Create an Account</a>
	            </div>
	        </section>
	                
	        <section class="login">
	            <div class="login-form-inner">
	                <h2>Welcome Back ! <br> Please Sign in now</h2>

	                <form id="user-details-login" class="user-details" action="/" method="post" novalidate="novalidate">
	                    <div class="form-input">
	                        <input type="text" class="form-control" id="login-name" name="login-name" value=""
	                            placeholder="Username" autofocus>
	                        {{#if errors.name}}
	                        	<span class="error">Username should not be empty <span class="fa fa-exclamation-triangle"></span></span>
	                        {{/if}}
	                    </div>
	                    <div class="form-input">
	                        <input type="password" class="password" id="password" name="password" value=""
	                            placeholder="Password">
	                        {{#if errors.password}}
	                        	<span class="error">Password should not be empty <span class="fa fa-exclamation-triangle"></span></span>
	                        {{/if}}
	                    </div>
	                    <div class="form-input-final">
	                        <div class="create-account-action">
	                            <input type="checkbox" id="remember-me" name="remember-me">
	                            <label for="remember-me">Remember me</label>
	                        </div>
	                        <button class="login-btn cta-btn" type="submit" value="submit" class="submit">
	                            log in
	                        </button>
	                        <a class="lost-password" href="#">Forgot Password?</a>
	                    </div>

	                </form>                            
	            </div>
	        </section>
	        
	    </div>

	</section>

	<section id="create-account-modal" class="create-account-modal">

	    <span id="account-close" class="fa fa-close account-close"></span>

	    <section class="">

	        <div class="account-form-inner">
	            <h2>Create Your Account with Us</h2>

	            <form id="user-details-create" class="user-details" action="/" method="post" novalidate="novalidate">

	                <div class="form-input">
	                    <input type="text" class="form-control" id="first-name" name="first-name" value=""
	                        placeholder="First Name...">
	                </div>
	                <div class="form-input">
	                    <input type="text" class="form-control" id="last-name" name="last-name" value=""
	                        placeholder="Last Name...">
	                </div>
	                <div class="form-input">
	                    <input type="email" class="form-control" id="email" name="email" value=""
	                        placeholder="Email Address...">
	                </div>
	                <div class="form-input">
	                    <input type="password" class="account-password" id="account-password" name="account-password" value=""
	                        placeholder="Password...">
	                </div>
	                <div class="form-input-final">
	                    <button class="login-btn cta-btn" type="submit" value="submit" class="submit">
	                        Create Account
	                    </button>
	                </div>

	            </form>                            
	        </div>
	    </section>

	</section>

	<section class="hero promo-section"  role="banner">

		<section class="carousel-container" id="carousel-container">
			<div id="slider" class="carousel">
			    <section class="slides">
			  		<div class="slide" data-state="active">
			  			<div class="slide-content dre-beatz">
			  				<figure class="slide-product-img">
			  					<img src="/img/girl-with-headphones.png">
			  				</figure>
			  				<div class="slide-watchword">
			  					<h2 class="slide-title-ad">Beats by <span>Chordratic</span></h2>
			  					<div><p>Headphones on the move</p>
			  					<img class="slide-product-logo" src="/img/dre-logo.png"></div>
			  					<a class="cta-btn" href="/productListing">Shop Now</a>
			  				</div>
			  			</div>
			  		</div>
			  		<div class="slide">
			  			<div class="slide-content nikon">
			  				<figure class="slide-product-img">
			  					<img src="/img/girl-with-nikkon.png">
			  				</figure>
			  				<div class="slide-watchword">
			  					<h2 class="slide-title-ad">See into the<span>Far Reaches</span></h2>
			  					<div><p>Your eyes are not enough</p>
			  					<img class="slide-product-logo" src="/img/nikon-logo.png"></div>
			  					<a class="cta-btn" href="/productListing">Shop Now</a>
			  				</div>
			  			</div>
			  		</div>
			  		<div class="slide">
			  			<div class="slide-content nike">
			  				<figure class="slide-product-img">
			  					<img src="/img/sportsman-with-headband.png">
			  				</figure>
			  				<div class="slide-watchword">
			  					<h2 class="slide-title-ad">A tick Speaks Louder<span>than Words</span></h2>
			  					<div><p>The sign of the swoosh!</p>
			  					<img class="slide-product-logo"src="/img/nike-logo.png"></div>
			  					<a class="cta-btn" href="/productListing">Shop Now</a>
			  				</div>
			  			</div>
			  		</div>
			    </section>
			    <section class="indicators">
				  	<input class="indicator" name="indicator" data-slide="1" data-state="active" checked type="radio" />
				  	<input class="indicator" name="indicator" data-slide="2" type="radio" />
				  	<input class="indicator" name="indicator" data-slide="3" type="radio" />
			  </section>
			</div>
		</section>

		<img class="promo-coupon" src="/img/coupon.png">

	</section>

	<section id="best-sellers" class="best-seller product-listing">

		<div class="page-product">

			<h2 class="section-title">Show of Our Products by Category</h2>

			<ul class="category product-list">
				{{#each dataCat}}
				<li>
					<a href="/" style="display: block;">
						<div class="product-listing-single">
							<h4 class="category-title">({{this.category}})</h4>
						    <h5>{{this.title}}</h5>
							<h5>Price : $ CAD {{this.price}}</h5>
						    <figure>
						    	<img src="/img/{{this.imgPath}}">
						    	<figcaption>
						    		<p>{{this.description}}</p>
						    	</figcaption>
						    </figure>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>

		</div>

	</section>

	<section id="best-sellers" class="best-seller product-listing">

		<div class="page-product">

			<h2 class="section-title">A peek at Some of Our Best Sellers</h2>

			<ul class="product-list">
				{{#each data}}
				<li>
					<a href="/" style="display: block;">
						<div class="product-listing-single">
						    <h4>{{this.title}}</h4>
							<h5>Price : $ CAD {{this.price}}</h5>
						    <figure>
						    	<img src="/img/{{this.imgPath}}">
						    	<figcaption>
						    		<p>{{this.description}}</p>
						    	</figcaption>
						    </figure>
						</div>
					</a>
				</li>
				{{/each}}
			</ul>

		</div>

	</section>

	<script type="text/javascript" src="/js/index.js" defer></script>
