
	<div class="inner-wrap">

		<h2 class="section-title">Product Listings</h2>

		{{!-- Categories are made available through sessions and were saved
		on first page load  --}}
		<!-- widget for container demo only, the rest matters -->
		<form class="product-filter" id="product-filter" method="POST" action="/user/product-filter">
		    <div class="product-filter-wrap">
		    	<label>
			        <select id="filter-search" class="filter-search" name="filter-search">
			            <option class="filter-selected" selected>Search Products Here:</option>
			            {{#each categories}}
			            	<option value="{{this.category}}">{{this.category}}</option>
			            {{/each}}
			        </select>
			    </label>
		    </div>
		    <input class="sr-only" type="submit" name="">
		</form>

		<ul class="product-list">
			{{#each listing}}
			<li>
				<a href="/user/details?id={{this.id}}" style="display: block;">
					<div class="product-listing-single">
					    <h4>{{this.title}}</h4>
						<h5>Price : $ CAD {{this.price}}</h5>
					    <figure>
					    	<img src="/uploads/products/{{this.imgPath}}">
					    	<figcaption>
					    		<p>{{this.description}}</p>
					    	</figcaption>
					    </figure>
					</div>
				</a>
				<a class="cta-btn add-to-cart" href="/user/cart/{{this.id}}">ADD TO CART</a>
			</li>
			{{/each}}
		</ul>

	</div>
