
	<div class="page-product">

		<h2 class="section-title">Product Listings</h2>

		<!-- widget for container demo only, the rest matters -->
		<form class="product-filter">
		    <div class="product-filter-wrap">
		        <select id="filter-search">
		            <option selected>Search Products Here:</option>
		            {{!-- Needs dynamic input --}}
		        </select>
		    </div>
		</form>

		<ul class="product-list">
			{{#each listing}}
			<li>
				<a href="/details?id={{this.id}}" style="display: block;">
					<div class="product-listing-single">
					    <h4>{{this.title}}</h4>
						<h5>Price : $ CAD {{this.price}}</h5>
					    <figure>
					    	<img src="/uploads/products/{{this.imgPath}}">
					    	<figcaption>
					    		<p>{{this.description}}</p>
					    	</figcaption>
					    </figure>
					</div>
				</a>
			</li>
			{{/each}}
		</ul>

	</div>
