
<section class="dashboard">

	<section class="cart-dashboard">

		<section class="cart-dashboard-list">

			<div class="cart-title">
				<h2 class="section-title">Your Cart</h2>
				<p class="total"><output></output> item(s)</p>
			</div>

			<section class="cart-list">

				<table class="dashboard-list">

				    <thead>
			            <th colspan="4">Details</th>
			            <th>Quantity</th>
			            <th>Price</th>
			            <th>Total ($CAD)</th>
				    </thead>

				    <tbody>
			        {{#each dataCart}}
			            <tr class="cart-record">
			                <td class="cart-product-name" colspan="4">
			                   	<div class="related">
			                   		 <a href="/user/details/?id={{this.id}}">
			                   		 	<span class="thumb-img-"><img class="thumb-img" src="/uploads/products/{{this.imgPath}}" alt="{{this.title}} image"></span>
			                   		</a>
			                   		<div class="cart-remove">
			                   			<strong class="product-title">{{this.title}}</strong>
			                   			<a href="/user/cart-del/{{this.id}}" data-id="{{this.id}}" class="product-remove">Remove</a>
			                   		</div>
			                   	</div>
			                </td>
			                <td class="cart-quantity">
			                    <input type="number" class="quantity-form" value="{{this.quantity}}" step="1" min="1">
			                </td>
			                <td class="cart-price">
			                    <span>{{this.price}}</span>
			                </td>
			                <td class="cart-total">
			                   <span>{{!-- total goes here --}}</span>
			                </td>
			            </tr>

			        	{{else}}
			            <td id="no-product" colspan="4">
			                <p>No cart in the database yet</p>
			            </td>
			        {{/each}}
			        	<tr id="cart-grand-total" class="grand-total">
			        		<td colspan="7">GRAND TOTAL: <b></b> <span class="currency">$CAD</span></td>
			        	</tr>
				    </tbody>
				</table>
			</section>

		</section>

		<section id="transaction" class="transaction cart-transaction">

			<div class="cart-title">
				<h2 class="section-title">Order Summary</h2>
			</div>

			<section class="transaction-details">
				<span id="transaction-total"class="transaction-total">ITEMS <strong></strong></span>
				<span>
					<span id="transaction-cost" class="transaction-cost"></span> $CAD
				</span>
			</section>

			<form id="form-transaction" class="form-transaction" action="/user/place-order" method="post">

	            <div class="form-input product-category">
	            	<label for="select-shipping">SHIPPING: </label>

	            	<select id="select-shipping" name="select-shipping" class="form-input product-category" required>
	        	    	<option selected class="shipping" value="10">Standard Delivery - 10 $CAD</option>
	        	    	<option class="shipping" value="5">Local Pickup - 5 $CAD</option>
	            	</select>
	            </div>

	            <div class="form-input">
	            	<label for="promo-code">PROMO CODE: </label>
	                <input type="text" class="form-control promo-code" id="promo-code" name="promo-code">
	            </div>

			    <div class="form-input">
			        <button id="transaction-btn-apply" class="transaction-btn cta-btn apply">
			            APPLY
			        </button>
			    </div>

			    <hr>

			    <section class="transaction-details">
			    	<span class="transaction-total">TOTAL COST : 
			    	<strong>
			    		<span id="transaction-cost-grand" class="transaction-cost-grand"></span> $ CAD
			    	</strong>
			    </section>

			    <input id="hdn-products" type="hidden"></input>
			    <input id="hdn-total-items" type="hidden"></input>
			    <input id="hdn-total-cost" type="hidden"></input>
			    <input id="hdn-grand-total-cost" type="hidden"></input>

			    <div class="form-input-final">
			        <button class="transaction-btn cta-btn submit" type="submit" value="submit">
			            PLACE ORDER
			        </button>
			    </div>

			</form> 

		</section>

	</section>

</section>